%footer.site-footer.clearfix{:id => "colophon", :role => "contentinfo"}
	.col-sm-6.left-menu-footer
		%nav.nav-menu-footer-left
			%ul.nav.navbar-left
				%li 
					%a{:href => "#"} Why us
				%li 
					%a{:href => "#"} About us
				%li 
					%a{:href => "#"} Contact
				%li 
					%a{:href => "#"} Privacy policy
				%li 
					%a{:href => "#"} Term & Condition
		\
		/ end of .nav-menu-footer-left
	\
	/ end of .col-sm-8.left-menu-footer
	.col-sm-6.right-menu-footer
		%p.text-right 
			Copyright &copy; 2014 
			%a{:href => "#"} PMJakarta 
			by 
			%a{:href => "#"} SBS Incubator.
			All rights reserved.
	\
	/ end of .col-sm-4.right-menu-footer
\
/ end of .site-footer.cl